<h1>ADD BITS VIEW PAGE</h1>
<button><a href="/home/buybits">Buy bits!</a></button>
<a class="btn btn-primary" href="/PayPal/PaymentWithPaypal">Pay with PayPal</a>
<button><a href="/home/dashboard">Cancel</a></button>