<h1>Welcome to your Dashboard, @User.Identity.Name</h1>

<button><a href="/home/managecircle">Manage Circle</a></button>
<button><a href="/home/addbits">Add Bits</a></button>
<button><a href="/home/sendbits">Send Bits</a></button>
<button><a href="/home/cashoutbits">Cash out Bits</a></button>

