<h1>THIS IS A LANDING PAGE</h1>

<button><a href="/home/addbits">Add Bits</a></button>
<button><a href="/home/sendbits">Send Bits</a></button>
<button><a href="/home/cashoutbits">Cash out Bits</a></button>

@Html.ActionLink("Add Bits", "Addbits", "Home")

