@{
    ViewBag.Title = "Home Page";
}
<div class="container">
    
    <div id="videoEnd" style="display:none"></div>

    <script>
         document.getElementById('myVideo').addEventListener('ended',myHandler,false);
        function myHandler(e) {
            if(!e) { e = window.event; }
            // What you want to do after the event
            document.getElementById('myVideo').style.display="none";
            document.getElementById('videoEnd').style.display="block";
        }
    </script>
</div> 
<div class="LogReg" id="videoEnd">
    <div id="videoBlock">
        <video class="background" autoplay loop muted>
        <source src="video/Fire.mp4" type="video/mp4"> 
            Your browser does not support the video tag.
        </video>
        <div id="overlay">
            <partial name="RegisterPartial"/>
            <partial name="LoginPartial"/>
        </div>
    </div>
</div>


<style>

.LogReg{
    width: 100%; 
    height: 360px; 
    position: relative;
}
#videoBlock {
    width: 100%; height: 100%;  
    display: flex;  
    justify-content: center; 
    align-items: center;
    }

#overlay{
    width: 100%; height:100%; position: absolute; top: 0; left: 0;}
    
#myVideo{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    min-width: 100%;
    min-height: 100%;
    z-index: 3;
}
.place_input{
    text-align: center;
    background-color: lightgrey;
}
#myInput{
    text-align: center;
    background-color: lightgrey;
}
.green{
    color: lightgreen;
}
.container_all{
    width: 970px;
    height: 800px;
    text-align: center;
}
#sub_btn{
    background-color: transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;
    outline:none;
}
.bottom{
    height: 85px;
    width: 200px;
    margin-left: 465px;
}
#power{
    height: 120px;
    width: 120px;
    background: transparent;
}

#link_text{
text-decoration: none;
color: salmon;
font-size: 25px;
}

.error{
color: red;
}
.link{
    font-size: 20px;
}
.h1{
    display: inline-block;
}
.left{
    display: inline-block;
    height: 500px;
    width: 20%;
    text-align: center;
    margin-right: 10%;
    margin-left: 10%;
}
.right{
    display: inline-block;
    height: 500px;
    width: 20%;
    vertical-align: top;
    text-align: center;
    margin-left: 10%;
}
</style>
