@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>New Money</h1>
    <p class="lead">New Money innovates the way people send money to eachother.</p>
    <p><a href="/home/about" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>
