<h1>MANAGE CIRCLE VIEW PAGE</h1>

<button><a href="/home/addfriend">Add Friend to Circle</a></button>
<button><a href="/home/deletefriend">Remove Friend from Circle</a></button>
<button><a href="/home/dashboard">Return to Dashboard</a></button>
