<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div id="videoBlock">

            <video autoplay loop muted>
                <source src="~/Content/Video_background/Send_shaked.m4v" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div id="overlay">

                <div class="account">
                    <br>
                    <button class="w3-button w3-teal w3-xlarge" onclick="w3_open()">☰</button>
                    <div class="w3-container">
                        <div class="w3-sidebar w3-bar-block w3-border-right" style="display:none" id="mySidebar">
                            <button onclick="w3_close()" class="w3-bar-item w3-large">Close &times;</button>
                            <a href="/home/managecircle" class="w3-bar-item w3-button">Manage Your Circle!</a>
                            <a href="/home/sendbits" class="w3-bar-item w3-button">Send Bits!</a>
                            <a href="/home/addbits" class="w3-bar-item w3-button">Buy Bits!</a>
                            <a href="/home/cashoutbits" class="w3-bar-item w3-button">Cash Out Bits!</a>
                        </div>
                        <h1 class="display-4"><span class="green2">Sending Money</span></h1>
                        <h3><span class="yellow2">Let's send some leaves!</span></h3>
                        <br>
                        <form class="sending" name="Email" action="/home/shipbits" method="post">
                            <select class="p_input" type="text" name="Email">
                                @foreach(var user in @ViewBag.Users)
                                {
                                    <option type="email" value="@user.Email">@user.Email</option>
                                }
                            </select>                                
                            <br>
                            <br>
                            <input class="p_input" type="number" placeholder="How many Bits?" name="Bits"><br>
                            <br>
                            <button id="sub_btn" type="submit">
                                <img id="power" src="~/Content/mint.png">
                            </button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
</body>



<script>
    function w3_open() {
        document.getElementById("mySidebar").style.display = "block";
    }

    function w3_close() {
        document.getElementById("mySidebar").style.display = "none";
    }
</script>

</html>

<style>

    .account {
        margin-left: 35%;
        margin-right: 35%;
        margin-top: 10%;
        background-color: rgba(133, 131, 131, 0.548);
        width: 450px;
        height: 600px;
        text-align: center;
        border: 2px solid lightgreen;
    }

    .p_input {
        text-align: center;
        color: green;
        background-color: rgb(255, 230, 0);
        border: 2px solid green;
        height: 80px;
    }

    .send_form {
        text-align: center;
    }

    .yellow2 {
        color: rgb(255, 230, 0);
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }

    .LogReg {
        width: 100%;
        height: 360px;
        position: relative;
    }

    #videoBlock {
        width: 100%;
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #overlay {
        width: 100%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
    }

    #myVideo {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        min-width: 100%;
        min-height: 120%;
        z-index: 3;
    }

    .place_input {
        text-align: center;
        background-color: lightgrey;
    }

    #myInput {
        text-align: center;
        background-color: lightgrey;
    }

    .green2 {
        color: lightgreen;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }

    .green3 {
        font-size: 100px;
        color: lightgreen;
        text-shadow: -2px -2px 0 #000, 2px -2px 0 #000, -2px 2px 0 #000, 2px 2px 0 #000;
    }

    #sub_btn {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .container_all {
        width: 970px;
        height: 800px;
        text-align: center;
    }

    #sub_btn {
        background-color: transparent;
        background-repeat: no-repeat;
        border: none;
        cursor: pointer;
        overflow: hidden;
        outline: none;
    }

    .bottom {
        height: 85px;
        width: 200px;
        margin-left: 465px;
    }

    #power {
        height: 120px;
        width: 120px;
        background: transparent;
    }

    #link_text {
        text-decoration: none;
        color: salmon;
        font-size: 25px;
    }

    .error {
        color: red;
    }

    .link {
        font-size: 20px;
    }

    .h1 {
        display: inline-block;
    }

    .left {
        display: inline-block;
        height: 500px;
        width: 20%;
        text-align: center;
        margin-right: 10%;
        margin-left: 10%;
    }

    .right {
        display: inline-block;
        height: 500px;
        width: 20%;
        vertical-align: top;
        text-align: center;
        margin-left: 10%;
    }
</style>
