<h1>THIS IS THE SUCCESS VIEW PAGE</h1>
<button><a href="/home/dashboard">Return to the Dashboard</a></button>
<button><a href="/home/sendbits">Send Bits</a></button>
<button><a href="/home/buybits">Buy Bits</a></button>