<h1>THIS IS THE SUCCESS VIEW PAGE</h1>
<button><a href="/dashboard">Return to the Dashboard</a></button>
<button><a href="/sendbits">Send Bits</a></button>
<button><a href="/buybits">Buy Bits</a></button>