<h1>You successfully completed an action</h1>
<button><a href="/home/dashboard">Return to the Dashboard</a></button>
<button><a href="/home/sendbits">Send Bits</a></button>
<button><a href="/home/addbits">Add Bits</a></button>


<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>

    <div class="container">

        <div id="videoBlock">

            <video autoplay loop muted>
                <source src="video/Receive.mp4" type="video/mp4">
                Your browser does not support the video tag.
            </video>

            <div id="overlay">

                <div class="account">
                    <br>
                  <h1>You successfully completed an action!</h1>
              </div>
          </div>
      </div>
      </html>
