<h1>You successfully purchased Bits!</h1>
<br />
<h3>Order ID: </h3><h4>100000293</h4>
<h3>Order Description: </h3><h4>Bits purchased</h4>
<h3>Amount: </h3><h4>10,000</h4>
<h3>Total Price: </h3><h4>$103.00</h4>
<br />
<button><a href="/home/dashboard">Return to the Dashboard</a></button>
<button><a href="/home/sendbits">Send Bits</a></button>
<button><a href="/home/addbits">Add Bits</a></button>